<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--<bean id="alien" class="org.example.Alien" scope="prototype">-->

    <bean id="alien" class="org.example.Alien" autowire="byName">
        <property name="age" value="20"></property>
       <!-- <property name="com" ref="com"></property>-->
        <!--constructor injection with type-->
        <!--<constructor-arg type="int" value="22"/>
        <constructor-arg type="Laptop" ref="lap1"/>-->
        <!--constructor injection with index-->
        <!--<constructor-arg index="1" value="22"/>
        <constructor-arg index="0" ref="lap1"/>-->
        <!--setter injection for primitive type-->
      <!--  <property name="age" value="20"></property>-->
        <!--ref attribute for reference injection for object type-->
        <!--<property name="lap" ref="lap1"></property>-->

    </bean>
    <bean id="com" class="org.example.Laptop">

    </bean>

</beans>
